SECRET_KEY=ENTER_YOUR_SECRET_KEY
ALLOWED_HOSTS=ENTER_YOUR_ALLOWED_HOSTS
DEBUG=ENTER_YOUR_DEBUG_TYPE
FERNET_KEY=ENTER_YOUR_FERNET_KEY
DJANGO_SUPERUSER_USERNAME=ENTER_YOUR_SUPERUSER_NAME
DJANGO_SUPERUSER_EMAIL=ENTER_YOUR_SUPERUSER_EMAIL
DJANGO_SUPERUSER_PASSWORD=ENTER_YOUR_SUPERUSER_PASSWORD

DB_NAME=ENTER_YOUR_DB_NAME
DB_USER=ENTER_YOUR_DB_USER
DB_PASSWORD=ENTER_YOUR_DB_USER_PASSWORD
DB_HOST=ENTER_YOUR_DB_HOST
DB_PORT=ENTER_YOUR_DB_PORT

EMAIL_HOST_USER=ENTER_YOUR_EMAIL_FOR_SENDING_MAILS
EMAIL_HOST_PASSWORD=ENTER_YOUR_EMAIL_PASSWORD_FOR_SENDING_MAILS
DEFAULT_FROM_EMAIL=ENTER_YOUR_DEFAULT_NAME

SITE_URL=ENTER_YOUR_URL_TO_SITE